DB_NAME = "embium"
DB_HOST = "localhost"
DB_USERNAME = "postgres"
DB_PASSWORD = "password"
PORT = 8811

ACCESS_TOKEN = "secret_access"
REFRESH_TOKEN = "secret_refresh"
SESSION_SECRET = "SESSION_SECRET"
EXTERNAL_SECRET = "EXTERNAL_SECRET"
DUMP_ENCRYPT_PASSWORD = "DUMP_ENCRYPT_PASSWORD"
ACCESS_TOKEN_EXPIRE_TIME = "15m"
REFRESH_TOKEN_EXPIRE_TIME = "2d"
REFRESH_TOKEN_EXPIRE_TIME_MILLISECONDS = 172800000